doctype html
html
  head
    title= 'Moosic'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.0.0.js?onload=socketioLoad")
    script(src="/javascripts/index.js")
    script(src="https://apis.google.com/js/client.js?onload=youtubeAPIInit")
    script(src="https://www.youtube.com/iframe_api")
    
  body
    div(class="wrapper")
        br
        br
        br
        h1#h_splash
            | Listen to and share music with others. Enter a room name to get started.
        br
        br
        br
        div.search
            input(id="txt_group_join", type="text", placeholder="What's your room name?" class="edittext")
