extends layout

block content
	div(id="div_genre", style="width:100%, height: 100%")
		.container
			.genre_outer
				div(class="genre_inner", style="background: red") Jazz
			.genre_outer
				div(class="genre_inner", style="background: orange") Rock
			.genre_outer
				div(class="genre_inner", style="background: teal") Indie
			.genre_outer
				div(class="genre_inner", style="background: green") Soul
			.genre_outer
				div(class="genre_inner", style="background: blue") Funk
			.genre_outer
				div(class="genre_inner", style="background: indigo") Rap
			.genre_outer
				div(class="genre_inner", style="background: violet") Pop
			.genre_outer
				div(class="genre_inner", style="background: grey") Hip Hop
			.genre_outer
				div(class="genre_inner", style="background: black") Metal
			div.search
				input(id="txt_group_join", type="text", placeholder="What's your group name?" class="edittext")
				input(id="txt_name_join", type="text", placeholder="What's your name" class="edittext")
	div(id="div_music", style="width:100%; height:100%")
		#div_left.col
			| In the room (click to synchronize)
			br
			br
			#div_users_list
		#div_player.col
			#div_recommender
				p#p_recommender
			br
			#div_youtube_wrapper
				#youtubeplayer
			br
			br
			#div_messages
				ul#messages
			#div_chat_input
				input(id="chat_input", autocomplete="off", placeholder="type your chat message and hit enter")
				input(id="txt_name_change", type="text", placeholder="Type a name for yourself and hit enter")
			p#p_invite_friends
				| Friends can join this room by following the URL in your browser!
		#div_right.col
			| Add to the queue
			br
			br
			#div_queue_wrapper
				input(id="txt_search_videos", type="text", placeholder="Type an artist and song name and hit enter")
			br
			ul#list_search_results
			br
			#div_queue
				| Up next...
				ul#list_queue

	div(id="div_unfinished", style="width:100%; height:100%") 
		.container.error_div
			| Stupid idiot. This feature hasn't been implemented.
	




