doctype html
html
  head
    title= 'Moosic'
    link(rel='stylesheet', href='/stylesheets/musicroom.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.0.0.js?onload=socketioLoad")
    sciprt(src="http://popcornjs.org/code/dist/popcorn-complete.js")
    script(src="/javascripts/musicroom.js")
    link(href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css')
    script(src="https://apis.google.com/js/client.js?onload=youtubeAPIInit")
    script(src="https://www.youtube.com/iframe_api")
    
  body
    div#div_header.div_root
        //drawer
        //search bar
        //user lists
    div#div_body.div_root
        //player
        #div_current_content
            #div_player
            #div_current_content_info.shadow
        //info
        #div_info.shadow
    div#div_footer.div_root
