doctype html
html
  head
    title= 'Moosic'
    link(rel='stylesheet', href='/stylesheets/musicroom.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.0.0.js?onload=socketioLoad")
    script(src="/javascripts/musicroom.js")
    script(src="https://apis.google.com/js/client.js?onload=youtubeAPIInit")
    script(src="https://www.youtube.com/iframe_api")
    
  body
    div#div_player
        div#youtubeplayer
    div#div_search
        input(id="txt_search_videos", type="text", placeholder="Type an artist and song name and hit enter")
        ul#list_search_results
    div#div_info
    div#div_queue
        ul#list_queue
            //#div_top
                p#p_link
                    | Friends can join this room by following the link above.
            //#div_left.col
                | In the room (click on a name to synchronize)
                br
                #div_users_list
            //#div_player.col
                #div_recommender
                    p#p_recommender
                    p#p_video_title
                br
                #div_youtube_wrapper
                    #youtubeplayer
                br
                img(class="img_control" src="../images/arrows-1.png" onclick="previousVideoInQueue()")
                div(style="width: 15px; display: inline-block;")
                img(class="img_control" src="../images/arrows.png" onclick="nextVideoInQueue()")
                br
                #div_messages
                    ul#messages
        //div(class="push")
    //div(class="footer")
        #div_footer_content(class="div_in_room")
            div(class="footer_col")
                input(id="txt_email", placeholder="Enter your email and we'll this list of songs to you")
            div(class="footer_col")
                input(class="chat_input" id="chat_input", autocomplete="off", placeholder="type your chat message and hit enter")
                input(class="chat_input" id="txt_name_change", type="text", placeholder="Type a name for yourself and hit enter")
            div(class="footer_col")
