doctype html
html
  head
    title= 'Moosic'
    link(rel='stylesheet', href='/stylesheets/musicroom.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.0.0.js?onload=socketioLoad")
    script(src="/javascripts/musicroom.js")
    link(href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css')
    script(src="https://apis.google.com/js/client.js?onload=youtubeAPIInit")
    script(src="https://www.youtube.com/iframe_api")
    
  body
    div#div_header.div_root
        //drawer
        //search bar
        //user lists
    div#div_body.div_root
        //player
        #div_player
        //info
        #div_info
    div#div_footer.div_root
        #div_content_1.div_content
        #div_content_2.div_content        
        #div_content_3.div_content
        #div_content_4.div_content
        #div_content_5.div_content
