html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: #f1f1f1;
}

#div_header {
	display: inline-block;
	width: 100%;
	height: 9%;
	background: white;
	box-shadow: 0 3px 3px #E0E0E0;
}

#div_body {
	display: inline-block;
	width: 100%;
	height: 71%;
}

#div_footer {
	display: inline-block;
	height: 20%;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
}

.shadow {
	box-shadow: 5px 5px 5px #E0E0E0;
}

#div_player {
	width: 100%;
	height: 79%;
}

#div_current_content_info {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background: white;
	height: 20%;
	width: 100%;
}

#div_current_content {
	vertical-align: top;
	display: inline-block;
	width: 55%;
	height: 100%;
	margin-left: 5%;
	margin-right: .75%;
	margin-top: .5%;
}

#div_info {
	display: inline-block;
	width: 34.25%;
	height: 100%;
	margin-top: .5%;
	margin-left: 0;
	margin-right: 5%;
	background: white;
}

.div_content {
	background: white;
	display: inline-block;
	margin-bottom: 1%;
	width: 15.6%;
	height: 80%;
	margin-right: 3%;
}
	
.img_queue_item {
	width: 100%;
	height: 100%;
}

#div_search_results {
	display: none;
	position: absolute;
	right: 39.9%;
	width: 55.1%;
	height: 25%;
	background: white;
}

#input_search {
	display: inline-block;
	margin-top: 1.35%;
	margin-left: 5%;
	width: 54.75%;
	border: 1px solid #CCCCCC;
	font-size: 18px;
	font-family: "Source Code Pro";
}

.current_content_info {
	display: block;
	font-family: 'Josefin Sans';
}

#div_info_holder {
	text-align: center;
}